header {
    background-color: palegreen;
    overflow: hidden;
    width: 100%;
}

#header-img {
    width: 70px;
    height: 70px;
}

#nav-bar a{
    float: right;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}

#nav-bar a:hover {
    color: orange;
}

ul {
    list-style-type: none;
}

#title {
    background-color: rgb(0, 255, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    padding-top: 20px;
}

#title-text {
    width: 40%;
}

#title-text h1 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 100);
}

#title-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: -30px;
}

button, #submit {
    background-color: rgb(235, 119, 11); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button, #submit:hover {
    background-color: rgb(180, 76, 16);
    font-weight: bold;
}

#title-img {
    height: 100%;
}

#man-img {
    max-height: 100%;
    max-width: 100%;
}

#about {
    width: 100%;
}

#about-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

#about-icons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    width: 400px;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.icon-img {
    width: 60px;
    height: 60px;
}

.special-p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.sub-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(235, 119, 11);
    font-weight: bold;
}

.icon p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 100);
}

h3 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 100);
}

h4, label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 100);
}

#features, #testimonials{
    background-color: rgb(241, 233, 216);
    width: 100%;
}

#features-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

#features-main {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header1 middle header3"
        "footer1 middle footer3";
}

#bell {
    grid-area: header1;
}

#camera {
    grid-area: footer1;
}

#chat {
    grid-area: header3;
}

#android {
    grid-area: footer3;
}

#features-main-img {
    grid-area: middle;
}

.feature-icon {
    width: 400px;
    display: flex;
    flex-direction: row;
}

.feature-icon-img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

#features-main-img {
    height: 100%;
}

#watch-img {
    height: 70%;
    margin-top: 60px;
}

#why {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#why-cont1 {
    width: 30%;
    padding-top: 50px;
}

#why-cont2 {
    width: 50%;
    padding-left: 80px;
    padding-top: 50px;
}

.little-icon {
    width: 40px;
    height: 40px;
}

#why-icons-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

.why-icon {
    width: 400px;
    padding-top: 20px;
}

#why-img {
    width: 100%;
}

#testimonials-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#testimonials-test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.review {
    width: 500px;
    border: 3px solid rgb(209, 208, 208);
    border-radius: 20px;
    display: flex;
    background-color: white;
    margin-top: 10px;
}

.client-photo {
    width: 150px;
    height: 150px;
    padding: 20px 20px 20px 20px;
    border-radius: 100px;
}

#testimonials {
    padding-bottom: 50px;
}

#producs {
    width: 100%;
}

#products-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.prod-watch-img {
    width: 300px;
    height: 350px;
}

#products-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.product-watch {
    text-align: center;
    width: 350px;
    border: 3px solid rgb(209, 208, 208);
    border-radius: 20px;
    background-color: rgb(241, 233, 216);
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
}

#faq {
    background-color: rgb(241, 233, 216);
}

#faq-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#questions-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.question {
    width: 600px;
}

#contact {
    width: 100%;
}

#contact-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#contact-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 50px;
}

#form {
    width: 900px;
    margin: 0 auto;
}

#contact-info {
    width: 300px;
    margin: 0 auto;
}

.contact-icon {
    width: 25px;
    height: 25px;
}

#name, #email, textarea {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid rgb(209, 208, 208);
}

label {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 100);
}

.info {
    text-align: center;
    padding-bottom: 40px;
    width: 70%;
}

.info img {
    margin-bottom: -30px;
}







@media (max-width: 900px) {

    #title-img {
        display: none;
    }
    
    #title-text {
        width: 90%;
        text-align: center;
    }

    #features-title {
        width: 90%;
    }

    #products-title {
        width: 90%;
    }

    #faq-title {
        width: 90%;
    }

    #contact-title {
        width: 90%;
    }
    

    #why-cont1 {
        width: 90%;
        text-align: center;
    }

    #why-cont2 {
        width: 90%;
        padding-left: 0px;
        text-align: center;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    #features-main {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "subheader"
            "main"
            "footer"
            "subfooter";
    }

    #bell {
        grid-area: header;
        text-align: center;
    }
    
    #camera {
        grid-area: subheader;
        margin-bottom: -100px;
        text-align: center;
    }
    
    #chat {
        margin-top: -300px;
        grid-area: footer;
        text-align: center;
    }
    
    #android {
        margin-top: -100px;
        grid-area: subfooter;
        text-align: center;
    }

    #features-main-img {
        grid-area: main;
        height: 40%;
        margin: auto;
    }
    
    #watch-img {
        height: 40%;
    }

    #why {
        flex-flow: column wrap;
    }

    #why-img {
        width: 300px;
        height: 350px;
    }

    .review {
        width: 500px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #contact-info {
        margin-top: 100px;
    }
}

@media (max-width: 1600px) {

    #about-title {
        width: 80%;
    }

    #about-icons {
        width: 100%;
    }

    #why {
        width: 100%;
    }

    .special-p {
        width: 100%;
    }

    #testimonials-title {
        width: 80%;
    }

    .icon {
        width: 250px;
    }

    .feature-icon {
        width: 300px;
        display: flex;
        flex-direction: row;
    }
    
    .feature-icon-img {
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    
    #features-main-img {
        height: 100%;
    }
    
    #watch-img {
        height: 40%;
        margin-top: 50%;
    }

    .why-icon {
        width: 300px;
        padding-top: 20px;
    }

    .prod-watch-img {
        width: 200px;
        height: 250px;
    }
    
    #products-main {
        width: 90%;
    }
    
    .product-watch {
        width: 250px;
        padding: 20px 20px 20px 20px;
    }

    #questions-cont {
        width: 90%;
    }

    .question {
        width: 500px;
    }

    #contact-main {
        width: 100%;
    }

    #form {
        width: 700px;
        margin: 0 auto;
    }
    
    #contact-info {
        width: 300px;
        margin: 0 auto;
    }

}







